*{
    margin: 0;
    padding: 0;
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    color: rgb(235, 232, 232);
    background: rgb(54,77,204);
    background: linear-gradient(180deg, rgba(54,77,204,1) 0%, rgba(201,246,103,1) 89%) fixed;
    font-family: 'Ubuntu', sans-serif;
}

h1{
    font-family: 'Dancing Script', cursive;
    padding: 10px 0;
    font-size: 28px;
}

h2{
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 15px;
}

span{
    display:block;
    font-weight: 100;
    font-size: 0.9em;
    color: black;
}

.border-img{
    border:2px solid rgb(97, 194, 149);
}

.profile h2{
    font-style: italic;
}

.profile{
    text-align:center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.profile img{
    border-radius: 50%;
    width: 100px;
    box-shadow: 0 0 7px greenyellow;
}

.social{
    display: flex;
    justify-content:space-around;
    margin-bottom: 15px;
    list-style: none;
}

.social img{
    width: 35px;
}

.link-social:hover{
    background:honeydew;
}

.link-list{
    list-style: none;
}
.link-list a{
    display:block;
    background:rgb(235, 232, 232);
    color:rgb(67, 97, 93);
    box-shadow: 0 0 10px rgb(67, 97, 93);;
    text-decoration: none;
    padding: 20px 10px;
    border-radius: 10px;
    margin: 0px 20px 10px 20px;
    font-size: 24;
    font-weight: bold;
}

.footer{
    color: white;
    background:rgba(54,77,204,1);
    font-weight: 100;
    font-size: 0.5em;
    text-align: center;
    margin-top: 15px;
    line-height: 20px;
}